//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Buildbotics firmware.              //
//-                                                                           //
//-      Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.     //
//-                                                                           //
//-       This Source describes Open Hardware and is licensed under the       //
//-                               CERN-OHL-S v2.                              //
//-                                                                           //
//-       You may redistribute and modify this Source and make products       //
//-  using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl). //
//-         This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED         //
//-  WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS //
//-   FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable   //
//-                                conditions.                                //
//-                                                                           //
//-              Source location: https://github.com/buildbotics              //
//-                                                                           //
//-    As per CERN-OHL-S v2 section 4, should You produce hardware based on   //
//-  these sources, You must maintain the Source Location clearly visible on  //
//-  the external case of the CNC Controller or other product you make using  //
//-                                this Source.                               //
//-                                                                           //
//-              For more information, email info@buildbotics.com             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#view-control-template(type="text/x-template")
  #control
    //- Top row: Axis table + User panel
    .control-top
      //- Left side: Axis table
      .axis-section
        table.axes
          tr
            th.name
              .name-header
                //- Column selector (gear icon) - left aligned
                .column-selector
                  .fa.fa-cog(@click="toggle_column_menu",
                    title="Show/hide columns")
                  .column-menu(v-show="show_column_menu")
                    label
                      input(type="checkbox", v-model="columns.offset")
                      |  Offset
                    label
                      input(type="checkbox", v-model="columns.absolute")
                      |  Absolute
                span Axis
            th.position Position
            th.absolute(v-show="columns.absolute") Absolute
            th.offset(v-show="columns.offset") Offset
            th.state State
            th.actions
              .actions-header
                .fa.fa-home.icon-btn(:class="{disabled: !is_idle}",
                  @click="home_all", title="Home all axes")
                .fa.fa-map-marker.icon-btn(:class="{disabled: !is_idle}",
                  @click="zero_all", title="Zero all axis offsets")

          each axis in 'xyzabc'
            tr(is="axis-row", :axis=axis, v-if=`${axis}.enabled`,
              :show-offset="columns.offset", :show-absolute="columns.absolute")


        //- Info tables
        .info-blocks
          table.info
            tr
              th State
              td(:class="{attention: highlight_state}") {{mach_state}}
            tr
              th Message
              td.message(:class="{attention: highlight_state}")
                | {{message.replace(/^#/, '')}}
            tr(title="Active machine units: G20=Imperial (inches), G21=Metric (mm)")
              th Units
              td {{mach_units}}
            tr(title="Distance mode: G90=Absolute positioning, G91=Incremental positioning")
              th Distance
              td {{distance_mode}}

          table.info
            tr(title="Velocity in {{metric ? 'meters' : 'inches'}} per minute")
              th Velocity
              td
                unit-value(:value="state.v", precision="2", unit="", iunit="", scale="0.0254")
                | {{metric ? ' m/min' : ' IPM'}}
            tr(title="Programmed feed rate.")
              th Feed
              td
                unit-value(:value="state.feed", precision="2", unit="", iunit="")
                | {{metric ? ' mm/min' : ' IPM'}}
            tr(title="Programed and actual speed.")
              th Speed
              td
                | {{state.speed || 0 | fixed 0}}
                span(v-if="!isNaN(state.s)")  ({{state.s | fixed 0}})
                = ' RPM'
            tr(title="Active tool number")
              th Tool
              td {{state.tool || 0}}

          table.info
            tr
              th Remaining
              td(title="Total run time (days:hours:mins:secs)").
                #[span(v-if="remaining") {{remaining | time}} of]
                {{toolpath.time || 0 | time}}
            tr(title="Estimated completion time based on remaining time")
              th ETA
              td {{eta || '--'}}
            tr
              th Line
              td {{0 <= state.line ? state.line : 0 | number}}
            tr
              th {{this.simulating ? 'Simulating' : 'Progress'}}
              td.progress
                label {{(progress || 0) | percent}}
                .bar(:style="'width:' + (progress || 0) * 100 + '%'")


      //- Right side: User panel
      .user-panel
        .user-panel-tabs
          .user-panel-tab(:class="{active: user_tab === 'program'}", 
            @click="user_tab = 'program'", title="Program controls") Program
          .user-panel-tab(:class="{active: user_tab === 'mdi'}", 
            @click="user_tab = 'mdi'", title="Manual Data Input") MDI
          .user-panel-tab(@click="open_jog_modal", title="Open jog controls")
            .fa.fa-arrows
            |  Jog

        .user-panel-content
          //- Program tab
          .panel-program(v-show="user_tab === 'program'")
            .program-info
              .program-filename(v-if="active.filename")
                .fa.fa-file-code-o
                |  {{active.filename}}
              .program-filename.no-file(v-else)
                .fa.fa-file-o
                |  No file loaded
              .program-meta(v-if="active.path")
                | {{toolpath.lines || 0 | number}} lines
                span(v-if="file_size")  | {{file_size}}
            
            .program-actions
              .action-row
                bbutton(:class="{'attention': is_holding}",
                  title="{{is_running ? 'Pause' : 'Start'}} program",
                  @click="start_pause", :icon="is_running ? 'pause' : 'play'",
                  :disabled="!active.path || mach_state == 'JOGGING'",
                  :text="is_running ? 'Pause' : 'Start'")
                
                bbutton(title="Stop program", @click="stop", 
                  icon="stop", text="Stop")
              
              .action-row
                bbutton(title="Edit program in editor", @click="edit", 
                  icon="pencil", text="Edit", :disabled="!active.path")
                
                bbutton(title="Open 3D viewer", @click="view", 
                  icon="eye", text="View",
                  v-if="$root.webGLSupported", :disabled="!active.path")
              
              .action-row
                bbutton(title="Select a different program", @click="open",
                  :disabled="!is_ready", icon="folder-open", text="Open")

          //- MDI tab
          .panel-mdi(v-show="user_tab === 'mdi'")
            .mdi-input-row
              select.mdi-commands(v-model="mdi_command", 
                @change="apply_mdi_command",
                title="Select a common G-code command")
                option(value="") Common Commands...
                option(value="G90") G90 - Absolute Distance
                option(value="G91") G91 - Incremental Distance
                option(value="M3 S") M3 S##### - Start Spindle
                option(value="M5") M5 - Stop Spindle
                option(value="G28") G28 - Return to Home
                option(value="G30") G30 - Return to Secondary
                option(value="G92 X0 Y0 Z0") G92 X0 Y0 Z0 - Set Position
            
            .mdi-input-row
              input.mdi-input(v-model="mdi", :disabled="!can_mdi", 
                @keyup.enter="submit_mdi", placeholder="Enter G-code...",
                title="Type G-code commands here")
            
            .mdi-buttons
              bbutton(:disabled="!can_mdi", :class="{'attention': is_holding}",
                title="{{is_running ? 'Pause' : 'Execute'}} MDI command",
                @click="mdi_start_pause", :icon="is_running ? 'pause' : 'play'",
                :text="is_running ? 'Pause' : 'Run'")
              bbutton(title="Stop current operation", @click="stop", 
                icon="stop", text="Stop")
            
            .mdi-history(:class="{placeholder: !history.length}")
              .history-label(v-if="history.length") History
              span(v-else) MDI history displays here.
              ul
                li(v-for="item in history", @click="load_history($index)",
                  track-by="$index", title="Click to load this command") {{item}}

    //- Jog Modal
    dialog.jog-modal(v-ref:jog-modal, header="Jog Controls", buttons="Close")
      div(slot="body")
        .jog-modal-content
          .jog-controls
            axis-control(axes="XY", :colors="['red', 'green']",
              :enabled="[x.enabled, y.enabled]",
              v-if="x.enabled || y.enabled", :adjust="jog_adjust",
              :step="jog_step", :disabled="!is_idle")

            axis-control(axes="AZ", :colors="['orange', 'blue']",
              :enabled="[a.enabled, z.enabled]",
              v-if="a.enabled || z.enabled", :adjust="jog_adjust",
              :step="jog_step", :disabled="!is_idle")

            axis-control(axes="BC", :colors="['cyan', 'purple']",
              :enabled="[b.enabled, c.enabled]",
              v-if="b.enabled || c.enabled", :adjust="jog_adjust",
              :step="jog_step", :disabled="!is_idle")

          .jog-settings
            .jog-adjust
              label Fine adjust
              input(type="range", v-model="jog_adjust", min=0, max=2, step=1,
                title="Adjust jog speed sensitivity")
            
            .jog-mode
              label
                input(type="checkbox", v-model="jog_step")
                |  Step mode

          .jog-instructions(v-if="jog_step")
            p Click axis buttons to jog by step amount.
          .jog-instructions(v-else)
            p Click and hold axis buttons to jog continuously.
            p Speed is determined by which ring you click.

    //- Macros section
    .macros-container
      .macro-tabs
        .macro-tab(v-for="tab in macro_tabs",
          :class="{active: current_macro_tab === tab.id}",
          @click="select_macro_tab(tab.id)",
          :title="'Show ' + tab.name + ' macros'")
          | {{tab.name}}
        
        a.macro-tab.settings-tab(href="#macros", title="Configure macros")
          .fa.fa-th-large
          |  Macros
      
      .macros
        bbutton.macro(v-for="macro in visible_macros",
          v-if="macro.path",
          :disabled="!is_idle",
          @click="run_macro(macro.originalIndex)",
          :title="is_idle ? 'Run macro: ' + macro.name + '\\nFile: ' + macro.path : 'Cannot run macro while program is active'",
          :style="{'background-color': macro.color}",
          :text="macro.name || ('' + (macro.originalIndex + 1))")

    //- Bottom tabs
    .tabs
      input#tab1(type="radio", name="tabs" checked, @click="tab = 'code'")
      label(for="tab1", title="View program code with line highlighting") Code

      input#tab5(type="radio", name="tabs", @click="tab = 'messages'")
      label(for="tab5", title="View console messages") Messages

      input#tab6(type="radio", name="tabs", @click="tab = 'indicators'")
      label(for="tab6", title="View I/O pin states") I/O Pins

      input#tab7(type="radio", name="tabs", @click="tab = 'power'")
      label(for="tab7", title="View power information") Power

      section#content1.tab-content
        textarea.gcode-view(v-el:gcode-view)


      section#content5.tab-content
        console

      section#content6.tab-content
        indicators(:state="state", :template="template")

      section#content7.tab-content
        power(:state="state", :template="template")
