//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Buildbotics firmware.              //
//-                                                                           //
//-      Copyright (c) 2015 - 2023, Buildbotics LLC, All rights reserved.     //
//-                                                                           //
//-       This Source describes Open Hardware and is licensed under the       //
//-                               CERN-OHL-S v2.                              //
//-                                                                           //
//-       You may redistribute and modify this Source and make products       //
//-  using it under the terms of the CERN-OHL-S v2 (https:/cern.ch/cern-ohl). //
//-         This Source is distributed WITHOUT ANY EXPRESS OR IMPLIED         //
//-  WARRANTY, INCLUDING OF MERCHANTABILITY, SATISFACTORY QUALITY AND FITNESS //
//-   FOR A PARTICULAR PURPOSE. Please see the CERN-OHL-S v2 for applicable   //
//-                                conditions.                                //
//-                                                                           //
//-              Source location: https://github.com/buildbotics              //
//-                                                                           //
//-    As per CERN-OHL-S v2 section 4, should You produce hardware based on   //
//-  these sources, You must maintain the Source Location clearly visible on  //
//-  the external case of the CNC Controller or other product you make using  //
//-                                this Source.                               //
//-                                                                           //
//-              For more information, email info@buildbotics.com             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#view-service-template(type="text/x-template")
  .service-view
    //- Navigation bar
    nav.navbar
      a.nav-item(href="#service:items") Items
      a.nav-item(href="#service:notes") Notes
      
      .spacer
      
      .actions
        //- Desktop: inline buttons
        .actions-inline
          //- Context-sensitive Add button
          bbutton(v-if="view === 'items'", @click="openItemEditor(null)", 
            icon="plus", text="Add Item",
            :disabled="!$root.authorized",
            title="Add a new service item")
          bbutton(v-if="view === 'notes'", @click="openNoteEditor(null)", 
            icon="plus", text="Add Note",
            :disabled="!$root.authorized",
            title="Add a new note")
          
          bbutton(@click="exportData", icon="download", text="Export",
            title="Export all service data")
          
          //- Login/Save button area (far right)
          bbutton(v-if="!$root.authorized", @click="$root.login()", 
            icon="sign-in", text="Login",
            title="Login to make changes")
          bbutton(v-if="$root.authorized && modified", @click="saveChanges", 
            icon="save", text="Save", success,
            title="Save pending changes")
          .save-status(v-if="$root.authorized && !modified")
            .fa.fa-check
            span Saved
          bbutton(v-if="$root.authorized", @click="$root.logout()", 
            icon="sign-out",
            title="Logout")

        //- Mobile: dropdown menu
        .actions-dropdown
          nav-item
            .fa.fa-ellipsis-v
            nav-menu
              a.nav-item(v-if="view === 'items'", 
                :class="{disabled: !$root.authorized}",
                @click="openItemEditor(null)")
                .fa.fa-plus
                | Add Item
              a.nav-item(v-if="view === 'notes'", 
                :class="{disabled: !$root.authorized}",
                @click="openNoteEditor(null)")
                .fa.fa-plus
                | Add Note
              a.nav-item(@click="exportData")
                .fa.fa-download
                | Export
              .nav-separator
              a.nav-item(v-if="!$root.authorized", @click="$root.login()")
                .fa.fa-sign-in
                | Login
              a.nav-item(v-if="$root.authorized && modified", @click="saveChanges")
                .fa.fa-save
                | Save
              a.nav-item(v-if="$root.authorized", @click="$root.logout()")
                .fa.fa-sign-out
                | Logout

    //- Hours summary bar
    .hours-bar
      .hours-item
        .hours-label Power-On
        .hours-value {{powerHours}} hrs
      .hours-item
        .hours-label Motion
        .hours-value {{motionHours}} hrs

    //- Items View
    .service-content(v-if="view === 'items'")
      h2 Service Items

      .items-list(v-if="itemsSorted.length")
        .item-card(v-for="item in itemsSorted", :class="{due: isItemDue(item)}")
          .item-color-bar(:style="{backgroundColor: item.color}")
          .item-content
            .item-header
              .item-label {{item.label}}
              .item-status(:class="{overdue: isItemDue(item)}")
                | {{getItemHoursRemaining(item)}}
            
            .item-details
              .detail
                span.detail-label Interval:
                span.detail-value {{item.interval}} hrs
              .detail
                span.detail-label Tracks:
                span.detail-value {{getHourTypeLabel(item.hour_type)}} Hours
              .detail
                span.detail-label Next Due:
                span.detail-value {{item.next_due.toFixed(1)}} hrs
              .detail
                span.detail-label Last Done:
                span.detail-value {{item.last_completed.toFixed(1)}} hrs
            
          .item-actions
            bbutton(@click="completeItem(item)", icon="check",
              :text="isItemDue(item) ? 'Complete Now' : 'Mark Complete'",
              :disabled="!$root.authorized",
              :class="{'button-success': isItemDue(item)}",
              title="Record service completion and reset timer")
            bbutton(@click="openItemEditor(item)", icon="pencil", text="Edit",
              :disabled="!$root.authorized", title="Edit item")
            bbutton(@click="deleteItem(item)", icon="trash", text="Delete",
              :disabled="!$root.authorized", title="Delete item")

      p.empty-message(v-else)
        | No service items configured. Click "Add Item" to create one.

      //- Item Editor
      .editor-panel(v-if="editingItem")
        h3 {{editingItem.id ? 'Edit' : 'Add'}} Service Item
        
        .form-group
          label Label
          input(v-model="editingItem.label", placeholder="e.g., Spindle Grease",
            @input="markModified")
        
        .form-row
          .form-group
            label Track By
            select(v-model="editingItem.hour_type", @change="markModified")
              option(v-for="ht in hourTypes", :value="ht.value") {{ht.label}}
          
          .form-group
            label Interval (hours)
            input.interval-input(type="number", v-model.number="editingItem.interval", min="1",
              @input="markModified")
          
          .form-group.form-group-color
            label Color
            .color-input-wrapper
              color-picker(:value.sync="editingItem.color", @change="markModified")
        
        .editor-actions
          bbutton(@click="cancelItemEdit", text="Cancel")
          bbutton(@click="saveItem", text="Save", success)

    //- Notes View
    .service-content(v-if="view === 'notes'")
      h2 Machine Notes

      .notes-list(v-if="notesSorted.length")
        .note-card(v-for="note in notesSorted")
          .note-header
            .note-title {{note.title}}
            .note-date {{formatDate(note.created)}}
          .note-content {{note.content}}
          .note-actions
            bbutton(@click="openNoteEditor(note)", icon="pencil", text="Edit",
              :disabled="!$root.authorized", title="Edit note")
            bbutton(@click="deleteNote(note)", icon="trash", text="Delete",
              :disabled="!$root.authorized", title="Delete note")

      p.empty-message(v-else)
        | No notes created. Use notes to record machine specs, procedures, or other information.

      //- Note Editor
      .editor-panel(v-if="editingNote")
        h3 {{editingNote.id ? 'Edit' : 'Add'}} Note
        
        .form-group
          label Title
          input(v-model="editingNote.title", placeholder="e.g., Spindle Specifications",
            @input="markModified")
        
        .form-group
          label Content
          textarea(v-model="editingNote.content", rows="10",
            placeholder="Enter note content...",
            @input="markModified")
        
        .editor-actions
          bbutton(@click="cancelNoteEdit", text="Cancel")
          bbutton(@click="saveNote", text="Save", success)
