script#control-view-template(type="text/x-template")
  #control
    .jog
      axis-control(axes="XY", :colors="['red', 'green']",
        :enabled="[enabled('x'), enabled('y')]",
        v-if="enabled('x') || enabled('y')")
      axis-control(axes="AZ", :colors="['orange', 'blue']",
        :enabled="[enabled('a'), enabled('z')]",
        v-if="enabled('a') || enabled('z')")
      axis-control(axes="BC", :colors="['cyan', 'purple']",
        :enabled="[enabled('b'), enabled('c')]",
        v-if="enabled('b') || enabled('c')")


    .estop(:class="{active: state.es}")
      estop(@click="estop")


    table.info
      tr
        th Tool
        td {{state.t || 0}}
      tr
        th Velocity
        td {{state.v || 0 | fixed 0}} mm/min
      tr
        th Feed
        td {{state.f || 0}} mm/min
      tr
        th Speed
        td {{state.s || 0}} RPM
      tr
        th Direction
        td {{state.sd || 'Clockwise'}}
      tr
        th Mist
        td {{state.mist || 'Off'}}
      tr
        th Coolant
        td {{state.coolant || 'Off'}}


    table.axes
      tr
        th Axis
        th Position
        th Offset
        th Errors
        th Actions

      each axis in 'xyzabc'
        tr.axis(class="axis-#{axis}", v-if="enabled('#{axis}')")
          th.name #{axis}
          td.position {{state.#{axis}p || 0 | fixed 4}}
          td.offset {{state.#{axis}o || 0 | fixed 4}}
          td.errors
            .fa.fa-hot(v-if="state.#{axis}t", title="Driver overtemp.")
            .fa.fa-ban(v-if="state.#{axis}s", title="Motor stalled.")
          th.actions
            button.pure-button(title="Zero #{axis} axis.",
              @click="zero('#{axis}')")
              | &empty;
            button.pure-button(title="Home #{axis} axis.",
              @click="home('#{axis}')")
              .fa.fa-home


    .overrides
      | Override:
      .override
        label Feed
        input(title="Feed rate override.", type="range", min="0", max="2",
          step="0.01", v-model="feed_override", @change="override_feed")
        span.percent {{feed_override | percent 0}}

      .override
        label Speed
        input(title="Speed override.", type="range", min="0", max="2",
          step="0.01", v-model="speed_override", @change="override_speed")
        span.percent {{speed_override | percent 0}}


    .mdi.pure-form
      fieldset
        button.pure-button.pure-button-primary(
          title="Manually execute instructions.", @click="submit_mdi",
          :disabled="running") MDI
        input(v-model="mdi", @keyup.enter="submit_mdi")


    .toolbar
      button.pure-button(title="Home the machine.", @click="home",
        :disabled="running")
        .fa.fa-home

      button.pure-button(title="{{running ? 'Pause' : 'Start'}} program.",
        @click="start_pause", :disabled="!file")
        .fa(:class="running ? 'fa-pause' : 'fa-play'")

      button.pure-button(title="Stop program.", @click="stop",
        :disabled="!running")
        .fa.fa-stop

      button.pure-button(title="Pause program at next optional stop (M1).",
        @click="optional_pause", :disabled="!file")
        .fa.fa-stop-circle-o

      button.pure-button(title="Execute one program step.", @click="step",
        :disabled="running || !file")
        .fa.fa-step-forward

      .spacer

      button.pure-button(title="Upload a new program file.", @click="open",
        :disabled="running")
        .fa.fa-folder-open

      input.gcode-file-input(type="file", @change="upload",
        style="display:none", accept=".nc,.gcode,.gc,.ngc")

      button.pure-button(title="Delete current program file.", @click="delete",
        :disabled="!file")
        .fa.fa-trash

      select(title="Select previously uploaded program files.", v-model="file",
        @change="load", :disabled="running")
        option(v-for="file in files", :value="file") {{file}}


    .gcode {{gcode || 'GCode displays here.'}}
