script#control-view-template(type="text/x-template")
  #control
    table.axes
      tr
        th.name Axis
        th.position Position
        th.offset Offset
        th.errors Errors
        th.actions Actions

      each axis in 'xyzabc'
        tr.axis(class="axis-#{axis}", v-if="enabled('#{axis}')")
          th.name #{axis}
          td.position {{state.#{axis}p || 0 | fixed 4}}
          td.offset {{state.#{axis}o || 0 | fixed 4}}
          td.errors
            .fa.fa-hot(v-if="state.#{axis}t", title="Driver overtemp.")
            .fa.fa-ban(v-if="state.#{axis}s", title="Motor stalled.")
          th.actions
            button.pure-button(title="Zero {{'#{axis}' | upper}} axis.",
              @click="zero('#{axis}')")
              | &empty;
            button.pure-button(title="Home {{'#{axis}' | upper}} axis.",
              @click="home('#{axis}')")
              .fa.fa-home

    table.info
      tr
        th State
        td {{get_state()}}
        td
      tr
        th Reason
        td {{get_reason()}}
        td
      tr
        th Feed
        td {{state.f || 0}}
        td mm/min
      tr
        th Speed
        td {{state.s || 0}}
        td RPM
      tr
        th Direction
        td {{state.sd || 'Clockwise'}}
        td

    table.info
      tr
        th Velocity
        td {{state.v || 0 | fixed 0}}
        td mm/min
      tr
        th Line
        td {{0 <= state.ln ? state.ln : '-'}}
        td
      tr
        th Tool
        td {{state.t || 0}}
        td
      tr
        th Mist
        td {{state.mist || 'Off'}}
        td
      tr
        th Coolant
        td {{state.coolant || 'Off'}}
        td

    .override(title="Feed rate override.")
      label Feed
      input(type="range", min="0", max="2", step="0.01",
        v-model="feed_override", @change="override_feed")
      span.percent {{feed_override | percent 0}}

    .override(title="Spindle speed override.")
      label Speed
      input(type="range", min="0", max="2", step="0.01",
        v-model="speed_override", @change="override_speed")
      span.percent {{speed_override | percent 0}}


    .toolbar
      button.pure-button(title="Home the machine.", @click="home",
        :disabled="state.x != 'READY'")
        .fa.fa-home

      button.pure-button(
        title="{{state.x == 'RUNNING' ? 'Pause' : 'Start'}} program.",
        @click="start_pause",
        :disabled="state.c == 'HOMING' || !file")
        .fa(:class="state.x == 'RUNNING' ? 'fa-pause' : 'fa-play'")

      button.pure-button(title="Stop program.", @click="stop",
        :disabled="state.x == 'READY'")
        .fa.fa-stop

      button.pure-button(title="Pause program at next optional stop (M1).",
        @click="optional_pause", :disabled="state.c == 'HOMING'")
        .fa.fa-stop-circle-o

      button.pure-button(title="Execute one program step.", @click="step",
        :disabled="(state.x != 'READY' && state.x != 'HOLDING') || !file")
        .fa.fa-step-forward

    .tabs
      input#tab1(type="radio", name="tabs" checked)
      label(for="tab1") Auto

      input#tab2(type="radio", name="tabs")
      label(for="tab2") MDI

      input#tab3(type="radio", name="tabs")
      label(for="tab3") Manual

      input#tab4(type="radio", name="tabs")
      label(for="tab4") Console

      section#content1.tab-content
        .toolbar
          button.pure-button(title="Upload a new program file.", @click="open",
            :disabled="state.x == 'RUNNING' || state.x == 'STOPPING'")
            .fa.fa-folder-open

          input.gcode-file-input(type="file", @change="upload",
            style="display:none", accept=".nc,.gcode,.gc,.ngc")

          button.pure-button(title="Delete current program file.",
            @click="delete", :disabled="!file")
            .fa.fa-trash

          select(title="Select previously uploaded program files.",
            v-model="file", @change="load",
            :disabled="state.x == 'RUNNING' || state.x == 'STOPPING'")
            option(v-for="file in files", :value="file") {{file}}

        .gcode(:class="{placeholder: !gcode}")
          {{{gcode || 'GCode displays here.'}}}

      section#content2.tab-content
        .mdi.pure-form
          fieldset
            button.pure-button.pure-button-primary(
              title="Manually execute instructions.", @click="submit_mdi",
              :disabled="state.x != 'READY'") MDI
            input(v-model="mdi", @keyup.enter="submit_mdi")

        .history(:class="{placeholder: !history}")
          {{history || 'MDI history displays here.'}}

      section#content3.tab-content
        .jog
          axis-control(axes="XY", :colors="['red', 'green']",
            :enabled="[enabled('x'), enabled('y')]",
            v-if="enabled('x') || enabled('y')")
          axis-control(axes="AZ", :colors="['orange', 'blue']",
            :enabled="[enabled('a'), enabled('z')]",
            v-if="enabled('a') || enabled('z')")
          axis-control(axes="BC", :colors="['cyan', 'purple']",
            :enabled="[enabled('b'), enabled('c')]",
            v-if="enabled('b') || enabled('c')")

      section#content4.tab-content
        .toolbar
          button.pure-button(title="Clear console.", @click="clear_console")
            .fa.fa-trash

        table.console
          tr
            th Level
            th Location
            th Code
            th Repeat
            th Message

          tr(v-for="msg in console", :class="msg.level || 'info'")
            td {{msg.level || 'info'}}
            td {{msg.where || ''}}
            td {{msg.code  || '0'}}
            td {{msg.repeat}}
            td {{msg.msg}}
