//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-              This file is part of the Buildbotics firmware.               //
//-                                                                           //
//-                Copyright (c) 2015 - 2018, Buildbotics LLC                 //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-                "Joseph Coffland" <joseph@buildbotics.com>                 //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#motor-view-template(type="text/x-template")
  .motor(:class="{slave: is_slave}")
    h1 Motor {{index}} Configuration

    form.pure-form.pure-form-aligned
      fieldset(v-for="category in template.motors.template", :class="$key")
        h2 {{$key}}

        templated-input(v-for="templ in category", :name="$key",
          :model.sync="motor[$key]", :template="templ")

          label.extra(v-if="$key == 'max-velocity'", slot="extra",
            title="Revolutions Per Minute") ({{rpm | fixed 0}} RPM)

          label.extra(v-if="$key == 'max-accel' && metric", slot="extra",
            title="G-force") ({{gForce | fixed 3}} g)

          label.extra(v-if="$key == 'max-jerk' && metric", slot="extra",
            title="G-force per minute") ({{gForcePerMin | fixed 2}} g/min)

          label.extra(v-if="$key == 'step-angle'", slot="extra",
            title="Steps per revolution") ({{stepsPerRev | fixed 0}} steps/rev)

          label.extra(v-if="$key == 'travel-per-rev' && metric", slot="extra",
            title="Micrometers per step") ({{umPerStep | fixed 1}} µm/step)

          label.extra(v-if="$key == 'travel-per-rev' && !metric", slot="extra",
            title="Thousandths of an inch per step")
            | ({{milPerStep | fixed 2}} mil/step)
